<div class="jumbotron">
<div class="container">
 <h1><strong>Edit Tenant</strong></h1>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">  		
		<%= render 'updateform' %>

	    <%= link_to 'Show', @tenant %> | 
        <%= link_to 'Back', tenants_path %>
    </div>
  </div>
</div>

