<div class="jumbotron">
<div class="container">
  <h1><strong>New Tenant</strong></h1>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">  
		<%= render 'form', tenant: @tenant %>
		<%= link_to 'Back', tenants_path %>
    </div>
  </div>
</div>



