<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
<div class="container">
  <h1><strong>Welcome to Real Estate Central!</strong></h1>
  <p>We provide the ability to maintain your real estate through electronic means! Lucky you!</p>
  <p><a class="btn btn-primary btn-lg" href="estates" role="button">Go to estates &raquo;</a></p>
</div>
</div>

<div class="container">
<div class="row">
  <div class="col-md-4">
    <h2>Real Estate Picture 1</h2>
    <p>This will have latest real estate additions or possibly be changed to a carousel type jpg scroller of available real estate. Wouldn't that be awesome? </p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>Real Estate Picture 2</h2>
    <p>This will have latest real estate additions or possibly be changed to a carousel type jpg scroller of available real estate. Wouldn't that be awesome? </p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
 </div>
  <div class="col-md-4">
    <h2>Real Estate Picture 3</h2>
    <p>This will have latest real estate additions or possibly be changed to a carousel type jpg scroller of available real estate. Wouldn't that be awesome?</p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div>
</div>