<div class="jumbotron">
<div class="container">
  <h1><strong>About us</strong></h1>
  <p>We do what we do to allow for property owners like you to systematically track their property and tenants. </p>
  <p>
</div>
</div>

<div class="container">
<div class="row">
  <div class="col-md-12">
    <h2>Where we are</h2>
    <p>We are a small development group based out of Modesto, CA.</p>
    <p>
  </div>
</div>