<div class="jumbotron">
<div class="container">
  <h1><strong>New Estate</strong></h1>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">  
		<%= render 'form', estate: @estate %>
		<%= link_to 'Back', estates_path %>
    </div>
  </div>
</div>




